.intro-01{
    background: url('../images/bg/mainbg.png') 50% 0 no-repeat fixed;
    background-size: cover;
	background-attachment: fixed;
    background-position: center center;
	background-color: grey;
}

.poster-img{
    background-image: url('../images/bg/macWal.png') !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: cover !important;
}
